body {
    box-sizing: border-box;
    font-family: 'Playfair Display', serif !important;
}

.color-blue {
    color: rgb(60, 60, 134) !important;
}

.color-mid-blue {
    color: rgb(126, 126, 151) !important;
}

.color-pink {
    color: rgba(255, 192, 203, 0.55);
}

.background-blue {
    background-color: rgb(44, 44, 124);
}

.hotels-title {
    font-size: 0.9rem;
}

.hero-section {
    background-image: url('/images/hero-section/zero-take-WvHrrR1C5Po-unsplash.jpg');
    min-height: 40rem;
    background-size: cover;

}

.check-button {
    background-color: rgb(60, 60, 134);
}

.house-image {
    width: 25rem;

}

.pool-image {
    width: 25rem;
}

.house2-image {
    width: 25rem;
}

.room-section-info {
    width: 100%;
}

.room-section-image {
    width: 100%;
}

.room-section-image img {
    width: 100%;


}

.icon-size {
    font-size: 3rem;
}

li {
    /* content: '• '; */
    color: pink;
    
}

.experience-cards-text {
    width: 15rem;
}

.activities-info {
    width: 70vw;
}

.activities-image img{
    width: 70vw;
}

.experience-cards img {
    height: 23rem;
}

.hello-section {
    background-image: url('/images/hello-section/pool.jpg');
     background-size: cover;
    min-height: 25rem;
}

.hello-section-card {
    width: 70vw ;   
}

.google-map {
    width: 66vw;
}

.bridge-image img {
    width: 15rem;
    height: 17rem;
}

.cat-image {
    width: 15rem;
    height: 17rem;
}

.dog-image {
    width: 15rem;
    height: 17rem;
}

.join-us-section {
    background-color: rgba(255, 192, 203, 0.546);
}

.subscribe-box {
    width: 40%;
}
@media (min-width:768px) {
    .house-image {
        width: 18rem;

    }

    .pool-image {
        width: 18rem;
    }

    .house2-image {
        width: 18rem;
    }

    .rooms-info {
        width: 50%;
    }

    .room-section-info {
        padding-left: 10rem;
        width: 50%;
        height: 23.5rem;
    }

    .room-section-image {
        width: 50%;
    }

    .room-section-image img {
        height: 23.5rem;

    }

    .bed-specification {
        width: 70%;
    }

    .hello-section-card {
        width: 50vw;
        margin-left: 20rem;
    }
    .bridge-image img {
        width: 30rem;
        height: 35rem;
    }
    
    .cat-image {
        width: 15rem;
        height: 17rem;
    }
    
    .dog-image {
        width: 15rem;
        height: 17rem;
    }

    
}

/* @media (min-width: 990px) {
    .activities-image img{
        height: 61vh;
        width: 100vw;
    }
} */

@media (min-width:1024px) {
    .hero-section {
        background-image: url('/images/hero-section/zero-take-WvHrrR1C5Po-unsplash.jpg');
        min-height: 40rem;
        background-size: cover;

    }

    .house-image {
        position: relative;
        height: 17rem !important;
        width: 18rem;

    }

    .pool-image {
        position: absolute;
        top: 35%;
        left: 73%;
        width: 18rem;
    }

    .house2-image {
        position: absolute;
        top: 55%;
        left: 65%;
        width: 18rem;
    }

    .room-section-info {
        height: 27.7rem;
    }
    .room-section-image {
        width: 60%;
    }

    .room-section-image img {
        height: 27.7rem;
    }

    .activities-info {
        width: 70vw;
    }
    .activities-image img{
        height: 61vh;
        width: 70vw;
    }

   
.hello-section-card {
    width: 25vw ;   
}

    .google-map {
        width: 25vw;
    }
}

@media (min-width:1400px) {
    .room-section-info {
        height: 33.7rem;
    }

    .room-section-image img {
        height: 33.7rem;
    }

    .activities-info {
        height: 61vh;
        width: 100vw;
    }

    .activities-image img{
        height: 61vh;
        width: 50vw;
    }
}